
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap");


body {
    background: #ffb6c1;

}

.small-guy {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 50px;
    color: #ffb6c1;
    text-align: center;
    letter-spacing: 0mm;
}


.h4 {

 margin-top: 40px;
 margin-left:20px;
font-family: 'Futura', sans-serif;
font-size: 15px;
line-height: 1em;
color: white;

}


header{ 

height: 100px;
width: 100%;
background:#F55A7A;
color: white;
/*margin: 150px;*/
position:fixed;
top: 0;
left: 0;

}



h1 {

    margin-top: 150px;
    margin-left:50px;
    font-family: 'Futura', sans-serif;
    font-size: 150px;
    line-height: 1em;
    letter-spacing: -1mm;
    color: rebeccapurple;
    text-align: left;
}

a:link,
    a:visited

    {

        color: white;
        text-decoration: none;
    }

h2 {

margin: 100px;
margin-left:50px;
font-family:'Spartan', sans-serif;
font-size: 40px;
line-height: 0.9em;
color: #F55A7A;

  }

 
  p { 

margin: 100px;
margin-left:50px;
font-family:'Avenir', sans-serif;
font-size: 30px;
line-height: 1.5em;
color: rebeccapurple;
}



.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {

    position: relative;
    top: 9px;
    left: 180px;
     border: 1px solid #000000;

 }

.image2{
position: absolute;
top: 9px;
left: 677px;
border: 1px solid #000000;

}

 }

.image3{
position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;


}

.image4{
 position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.image5{
position: relative;
top: 9px;
left: 677px;
border: 0px solid #000000;

}



.P5-1{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-2{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-3{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-5{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-6{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

 .P5-7{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


 .P5-8{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-9{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-10{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-11{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-12{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-13{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P-14{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-15{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-16{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-17{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-18{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-19{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-20{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-21{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-22{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-23{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-24{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


.P5-25{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-26{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}

.P5-27{

position: relative;
top: 9px;
left: 180px;
border: 1px solid #000000;

}


















