/** { padding: 0;
margin: 0;
box sizing: border-box; }
*/

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap");

body {
    background: #ffb6c1 ;

}

.small-guy {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 50px;
    color: #ffb6c1;
    text-align: center;
    letter-spacing: 0mm;
}

.h4 {

 margin-top: 40px;
 margin-left:20px;
font-family: 'Futura', sans-serif;
font-size: 15px;
line-height: 1em;
color: white;

}

header { 

height: 100px;
width: 100%;
background: #F55A7A;
color: white;
/*margin: 150px;*/
position:fixed;
top: 0;
left: 0;
}


h1 {

    margin-top: 150px;
    margin-left:80px;
    font-family: 'Futura', sans-serif;
    font-size: 180px;
    line-height: 1em;
    letter-spacing: 0.10mm;
    color: rebeccapurple;
}


a:link,
    a:visited {

        color: white;
        text-decoration: none;

    }

h2 {

margin: 100px;
font-family:'Spartan', sans-serif;
font-size: 40px;
line-height: 1em;
top: -220px;
left: -160px;
color: #F55A7A;



  }


 
 p { 

margin: 100px;
font-family:'Avenir', sans-serif;
font-size: 30px;
line-height: 1.5em;
color: rebeccapurple;
}


.MC-LOGO { 

position: absolute;
top: 9px;
left: 677px;
border: 1px solid #000000;




}

#container {
    margin-top: 150px;
}


.projects {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;


}

/*
.purple1{

    padding: 0;
    margin: 150px;
    box sizing: border-box; 
    height: 300px;
    width: 300px;
    border: 0px solid #000;
    background:rebeccapurple;
}

.purple2{

padding: 0;
    margin: 150px;
    box sizing: border-box;
    height: 300px;
    width: 300px;
    border: 0px solid #000;
    background: rebeccapurple;


}*/

.purple {

  
    box sizing: border-box; 
    height: 300px;
    /*width: 300px;*/
    border: 0px solid #000;
    background:rebeccapurple;

}

.purple1,
.purple3 {
    background: rebeccapurple;
}
/*
.project1 {

    padding: 0;
    margin: 150px;
    position: relative;
    top: -970px;
    left: 0px;
    box sizing: border-box; 
    height: 600px;
    width: 1100px;
    border: 0px solid #000;
    background:rebeccapurple;
}

*/


}

/*.container1 h2 {
    margin: 150px;
    padding-left: 650px;
    padding-top: -50px;

}



