
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap");

body {
    background: plum;

}


h1 {
    font-family: 'Futura', sans-serif;
    font-size: 150px;
    line-height: 1em;
    color: rebeccapurple;
}

a:link,
    a:visited {

        color: white
    }

h2 {

margin: 100px;
font-family:'Spartan', sans-serif;
font-size: 40px;
line-height: 0.9em;
color: white;

  }
 
  p { 

margin: 100px;
font-family:'Avenir', sans-serif;
font-size: 30px;
line-height: 1.5em;
color: rebeccapurple;
}




.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {

    position: relative;
    top: 9px;
    left: 180px;
     border: 1px solid #000000;

 }

.image2{
position: absolute;
top: 9px;
left: 677px;
border: 1px solid #000000;

}



