/** { padding: 0;
margin: 0;
box sizing: border-box; }
*/

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap");

body {
    background: #ffb6c1 ;

}


h1 {

    font-family: 'Futura', sans-serif;
    font-size: 200px;
    line-height: 1em;
    color: rebeccapurple;
}

.small-guy {
    font-size: 50px;
    color: #ffb6c1;
    text-align: center;
}

a:link,
    a:visited {

        color: white
    }

h2 {

margin: 100px;
font-family:'Spartan', sans-serif;
font-size: 40px;
line-height: 0.9em;
top: -220px;
left: -160px;
color: #6B8E23;

  }

 
 p { 

margin: 100px;
font-family:'Avenir', sans-serif;
font-size: 30px;
line-height: 1.5em;
color: rebeccapurple;
}


header { 

height: 100px;
width: 100%;
background:rebeccapurple;
color: white;
/*margin: 150px;*/
position:fixed;
top: 0;
left: 0;
}


#container {
    margin-top: 150px;
}


.reading_responses {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;


}

/*
.purple1{

    padding: 0;
    margin: 150px;
    box sizing: border-box; 
    height: 300px;
    width: 300px;
    border: 0px solid #000;
    background:rebeccapurple;
}

.purple2{

padding: 0;
    margin: 150px;
    box sizing: border-box;
    height: 300px;
    width: 300px;
    border: 0px solid #000;
    background: rebeccapurple;


}*/

.purple {

  
    box sizing: border-box; 
    height: 300px;
    /*width: 300px;*/
    border: 0px solid #000;
    background:rebeccapurple;

}

.purple1,
.purple3 {
    background: rebeccapurple;
}
/*
.project1 {

    padding: 0;
    margin: 150px;
    position: relative;
    top: -970px;
    left: 0px;
    box sizing: border-box; 
    height: 600px;
    width: 1100px;
    border: 0px solid #000;
    background:rebeccapurple;
}

*/


}

/*.container1 h2 {
    margin: 150px;
    padding-left: 650px;
    padding-top: -50px;

}



